##############################
# Vivado / Xilinx
##############################
*.jou
*.log
*.str
*.zip
*.rpt
*.tcl.bak
.Xil/
.metadata/
*.cache/
*.hw/
*.ip_user_files/
*.gen/
*.sim/
*.srcs/*.xml
*.runs/
*.data/
webtalk*
usage_statistics_webtalk.html
vivado*.jou
vivado*.log
vivado_pid*.str
xvlog.pb
xvlog.log
xelab.pb
xelab.log
xsim.dir/
*.wdb
*.wcfg
*.pb
.jobs.dat
*.hbs
fsm_encoding.os
*.bit
*.bin
*.mcs
*.prm
*.ltx
*.debug_nets
*.export.log

# Vitis / SDK / PetaLinux
*.metadata/
sdk/
Debug/
Release/
*.elf.bak
project_spec/
build/
images/linux/
tmp/
sstate-cache/
downloads/
*.bbappend~

##############################
# GHDL / VHDL simulation
##############################
*.o
*.cf
work-obj*.cf
work/
*.ghw
*.vcd
*.fst
*.lst
*.wave
e~*.o
gh_*

##############################
# C / C++
##############################
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.d
*.i
*.ii
*.s
*.gch
*.pch
*.map
*.elf
core

##############################
# Make / build systems
##############################
Makefile.bak
*.mk.bak
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Testing/
build/
_build/
out/

##############################
# LaTeX
##############################
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.xdv
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loe

##############################
# Editors / OS junk
##############################
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db